openapi: 3.1.0
info:
  title: Rossum REST API
  description: |
    Rossum is an AI-powered document processing platform for transactional
    documents (invoices, purchase orders, contracts). The REST API exposes
    organizations, users, workspaces, queues, schemas, annotations, documents,
    uploads, and webhook/serverless extensions (hooks).

    Two deployment domains exist:
    - Legacy single-tenant: https://api.elis.rossum.ai/v1
    - Per-tenant (new): https://<tenant>.rossum.app/api/v1

    Documentation: https://elis.rossum.ai/api/docs/
  version: "1.0.0"
  contact:
    name: Rossum
    url: https://rossum.ai/
servers:
  - url: https://api.elis.rossum.ai/v1
    description: Legacy single-tenant base URL
  - url: https://{tenant}.rossum.app/api/v1
    description: Per-tenant base URL (organisations created after Nov 2022)
    variables:
      tenant:
        default: example
        description: Customer tenant subdomain
security:
  - bearerAuth: []
tags:
  - name: Authentication
  - name: Queues
  - name: Uploads
  - name: Annotations
  - name: Schemas
paths:
  /auth/login:
    post:
      tags: [Authentication]
      summary: Log in and obtain an access token
      description: |
        Exchange username and password for an access token. Tokens are valid
        for up to 162 hours by default.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  description: User email address.
                password:
                  type: string
                  format: password
                max_token_lifetime_s:
                  type: integer
                  description: Token lifetime in seconds (max 583200).
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: Access token to be used as Bearer token.
                  domain:
                    type: string
  /auth/logout:
    post:
      tags: [Authentication]
      summary: Log out and invalidate the current token
      responses:
        '200':
          description: Logout successful.
  /queues:
    get:
      tags: [Queues]
      summary: List queues
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: page_size
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: A paginated list of queues.
  /queues/{id}/export:
    get:
      tags: [Queues]
      summary: Export extracted data from a queue
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: format
          in: query
          required: true
          schema:
            type: string
            enum: [csv, json, xml, xlsx]
        - name: status
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Exported data in the requested format.
  /uploads:
    post:
      tags: [Uploads]
      summary: Upload a document to a queue for extraction
      description: |
        Upload PDF, PNG, JPEG, TIFF, XLSX, DOCX, or HTML files (up to 40 MB)
        to a queue. The upload is asynchronously processed into an annotation.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                content:
                  type: string
                  format: binary
                queue:
                  type: string
                  description: URL of the destination queue.
      responses:
        '201':
          description: Upload accepted.
  /annotations/{id}:
    get:
      tags: [Annotations]
      summary: Retrieve an annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Annotation object including extracted content.
    patch:
      tags: [Annotations]
      summary: Update an annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Annotation updated.
  /annotations/{id}/confirm:
    post:
      tags: [Annotations]
      summary: Confirm a validated annotation
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Annotation confirmed.
  /schemas:
    get:
      tags: [Schemas]
      summary: List extraction schemas
      responses:
        '200':
          description: A list of schemas.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: |
        Token obtained from POST /auth/login. Pass as
        `Authorization: Bearer <token>`. The legacy `Token <token>` scheme is
        also accepted.
